@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kameron, serif;
    color: #2E377F;
}

.cabecalho{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
    background-color: #d9d9d9;
}

h1{
    text-align: center;
    margin-left: 280%;
    margin-top:8vh;
    
}

#logo img{
    width: 10vw;
    margin-left: 68vw;
}
.corpo{
    display:flex;
    background-color: #f3f3f3;
    text-align: center;
}
.icones{
    display: flex;
}
#forumEmeditacao{
    margin:50%;
}
#estresseEdepressao{
    margin:50%;
}
#autoavaliacaoEansiedade{
    margin:50%;
}