@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kameron,serif;
    color:#2e377f;
}
header{
    display:flex;
    background-color: #F3F3F3;
}
nav{
    position:absolute;
    width:25vw;
    height: 120vh;
    background-color: #F3F3F3;
    
}
nav #olaX{
    background-color: #d9d9d9;
    height: 10vh;
    
}
nav #olaX h1{
    font-size: 25px;
    text-align: center;
}
nav #olaX img{
    width: 1.5vw;
    margin-left: 26vw;
    margin-top: 1vh;
    cursor: pointer;
}
nav li img{
    width: 3vw;
    height: 6vh;
    margin-top: 4vh;
}
nav li{
    list-style: none;
    padding:4px;
    
}
nav a{
    font-size:1.4vw;
    text-decoration:none;
    text-align: center;
    margin-left: 5vw;
}
.cabecalho{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
    background-color: #d9d9d9;
}

#menu img{
    margin-top: 25px;
    width: 5vw;
    cursor: pointer;
}

#logo img{
    width: 8vw;
    margin-left: 68vw;
}
.corpo{
    background-color: #F3F3F3;
    text-align: center;
}

#publicarBtn{
    color:#D9D9D9;
    background-color:#2E377F;
    border: 0;
    border-radius: 5vw;
    width:8vw;
    height: 5vh;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 75vw;
    margin-bottom: 2vh;
}

#input{
    width: 70vw;
    height: 10vh;
    background-color: #D9D9D9;
    border:0;
    border-radius:1vw ;
}
#input::placeholder{
    color:#2E377F;
    text-align: left;
    font-size: 20px;
}
.postagem{
    width: 70vw;
    height: 10vh;
    background-color: #D9D9D9;
    border:0;
    border-radius:1vw ;
    margin-top: 4vh;
    margin-left: 15vw;
    
}
#perfil{
    display: flex;
    margin-left: 2vh;
}
#perfil h1{
    margin-top: 2vh;
    font-size:20px;
    margin-right: 55vw;
}
#texto{
    background-color: #d9d9d9;
}
#texto p{
    font-size: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2vw;
}
#comentarCurtir{
    background-color: #d9d9d9;
    display:flex;
}
#comentar{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#comentar img{
    width:20%;
    cursor: pointer;
}
#comentar p{
    margin-top: 1vh;
}
#curtir{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#curtir img{
    width: 4%;
    cursor: pointer;
}
#curtir p{
    margin-top:1vh;
}
.denunciarBtn{
    color: black;
    border: 0;
    background-color: #d9d9d9;
    cursor: pointer;
    margin-left: 35vw;
}
.comentario{
    width: 65vw;
    height: 10vh;
    background-color: #D9D9D9;
    border:0;
    border-radius:1vw ;
    margin-top: 12vh;
    margin-left: 20vw;
    
}
#perfil2{
    display: flex;
    margin-left: 2vh;
}
#perfil2 h1{
    margin-top: 2vh;
    font-size:20px;
    margin-right: 62vw;
}
#texto2{
    background-color: #d9d9d9;
}
#texto2 p{
    font-size: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2vw;
}
#comentarCurtir2{
    background-color: #d9d9d9;
    display:flex;
}
#comentar2{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#comentar2 img{
    width:20%;
    cursor: pointer;
}
#comentar2 p{
    margin-top: 1vh;
}
#curtir2{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#curtir2 img{
    width: 4%;
    cursor: pointer;
}
#curtir2 p{
    margin-top:1vh;
}


.comentario3{
    width: 60vw;
    height: 10vh;
    background-color: #D9D9D9;
    border:0;
    border-radius:1vw ;
    margin-top: 12vh;
    margin-left: 25vw;
    
}
#perfil3{
    display: flex;
    margin-left: 2vh;
}
#perfil3 h1{
    margin-top: 2vh;
    font-size:20px;
    margin-right: 55vw;
}
#texto3{
    background-color: #d9d9d9;
}
#texto3 p{
    font-size: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 2vw;
}
#comentarCurtir3{
    background-color: #d9d9d9;
    display:flex;
}
#comentar3{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#comentar3 img{
    width:20%;
    cursor: pointer;
}
#comentar3 p{
    margin-top: 1vh;
}
#curtir3{
    margin-top: 2vh;
    background-color: #d9d9d9;
    display:flex;
}
#curtir3 img{
    width: 4%;
    cursor: pointer;
}
#curtir3 p{
    margin-top:1vh;
}
#escrevaResp{
    margin-top: 15vh;
    width: 60vw;
    height: 10vh;
    background-color: #D9D9D9;
    border:0;
    border-radius:1vw ;
}
#escrevaResp::placeholder{
    color:#2E377F;
    text-align: left;
    font-size: 20px;
}

